* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

div {
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "header"
                         "main";

    overflow: hidden;
}

header {
    grid-area: header;
    background-color: rgba(128, 255, 0, 0.322);
    height: 100px;
}

main {
    grid-area: main;
    background-color: aqua;
    overflow: auto;
}

footer {
    background-color: rgba(210, 105, 30, 0.212);
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0px;
}