* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colorFondoPagina: rgb(41, 41, 41);
    --colorAzulHover: rgb(19, 70, 209);
    --colorFondoPaginaUsar: rgb(22, 26, 41);
    --colorFondoHeader: rgb(8, 9, 20); 
    --colorHoverBotones: rgba(56, 184, 223, 0.9);
    --colorBotonesGeneral: rgba(255, 255, 255, 0.82);
    --colorHoverBotonPagina: rgb(31, 31, 31);
}

body {
    background-color: var(--colorFondoPagina);
}

/* NAVEGADOR HEADER*/

.contenedor-navegador {
    background-color: var(--colorFondoHeader);
    position: fixed;
    top: 0;
    width: 100%;
}

.navegador {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 0 10px;
}

.navegador .contenedor-logo a {
    display: flex;
    align-items: center;
    font-size: 22px;
    text-decoration: none;
    color: aliceblue;
}

.navegador .contenedor-logo img {
    width: 22px;
    margin-right: 7px;
    margin-left: 3px;
}

/* Buscador*/


.navegador .contenedor-buscador {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 50%;
}

.navegador .contenedor-buscador2 {
    display: none;
}

.navegador .contenedor-buscador input {
    background-color: rgb(37, 37, 48);
    color: rgba(255, 255, 255, 0.9);
    width: 60%;
    padding: 9px 18px;
    border-radius: 100px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    outline: none;
    border: none;
}

.navegador .contenedor-buscador button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 4px;
}

.navegador .contenedor-buscador button i{
    padding: 10px 10px;
    font-size: 18px;
    color: var(--colorBotonesGeneral);

    transition: color 0.15s ease;
}

.navegador .contenedor-buscador button i:hover{
    color: white;
    background: rgb(22, 26, 41);
    border-radius: 50px;
}

/* Opciones derecha*/

.navegador .contenedor-opciones .opciones {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navegador .contenedor-opciones .opciones {
    display: flex;
}

.navegador .contenedor-opciones .opciones button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    color: var(--colorBotonesGeneral);


    width: 40px;
    height: 40px;
    margin: 0px 2px;
}

.navegador .contenedor-opciones .opciones button:hover {
    color: white;
    background: rgb(22, 26, 41);
    border-radius: 50px;
}

.navegador .contenedor-opciones .opciones button i{
    font-size: 18px;
    display: flex;
    align-items: center;
}

/* Opciones ul house*/

.navegador .contenedor-opciones .contenedor-butnav {
    position: relative;
}

.navegador .contenedor-opciones .contenedor-nav {
    display: none;
    position: absolute;
    background-color: rgb(33, 33, 37);
    border-radius: 7px;
    right: 0;
    width: 175px;
}

.navegador .contenedor-opciones .contenedor-nav li {
    list-style: none;
    padding: 6px 0px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.navegador .contenedor-opciones .contenedor-nav li a {
    padding: 10px 13px 8px 13px;
    color: white;
    text-decoration: none;
}

.navegador .contenedor-opciones .contenedor-nav li a:hover {
    background-color: var(--colorAzulHover);
}

/* Hover para nav de las opciones */

.navegador .contenedor-opciones .contenedor-opciones-house:hover .opciones-house {
    display: initial;
}

.navegador .contenedor-opciones .contenedor-opciones-code:hover .opciones-code {
    display: initial;
}

.navegador .contenedor-opciones .contenedor-opciones-user:hover .opciones-user {
    display: initial;
}

/* Opciones celular*/

.navegador .contenedor-opciones .opciones.celular {
    display: none;
}

/* BOTONES INFERIOR */

.contenedor-botones-inferior {
    padding: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.contenedor-botones-inferior .botones-inferior {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 15px;
    margin-top: 2px;
    gap: 10px;
}

.contenedor-botones-inferior .botones-inferior button {
    display: flex;
    width: 131px;
    height: 31px;
    background-color: rgb(18, 18, 22);
    border: none;
    border-radius: 100px;
    min-width: 50px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding-right: 5px;
    cursor: pointer;

    transition: all 0.3s ease;

}

.contenedor-botones-inferior .botones-inferior button.active {
    color: white;
    background-color: var(--colorAzulHover)
} 

.contenedor-botones-inferior .botones-inferior button:hover {
    color: white;
    background-color: var(--colorAzulHover)
} 

.contenedor-botones-inferior .botones-inferior button i {
    font-size: 12px;
    padding: 0px 8px 0px 2px;
    margin: 0px;
}

.contenedor-botones-inferior .botones-inferior .mas {
    display: none;
}

/* CONTENIDO PAGINA*/

.contenedor-pagina {
    background-color: var(--colorFondoPaginaUsar);
    padding: 70px 15px 70px 15px;
    min-height: 100vh;
    color: white;
    font-family: 'Open sans', sans-serif;
    font-weight: 600;
}

.contenedor-pagina h1 {
    color: white;
    font-size: 22px;
    padding: 0px 6px;
}

/* Páginas */

.contenedor-pagina .pagina .section-aplicaciones {
    display: none;
}

.contenedor-pagina .pagina .section-aplicaciones.active {
    display: initial;
}

.contenedor-pagina .pagina .section-web {
    display: none;
}

.contenedor-pagina .pagina .section-web.active {
    display: initial;
}

.contenedor-pagina .pagina .section-comentarios {
    display: none;
}

.contenedor-pagina .pagina .section-comentarios.active {
    display: initial;
}

.contenedor-pagina .pagina .contenedor-recuadro {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding-bottom: 15px;
    gap: 20px;
    cursor: pointer;
}



.contenedor-pagina .pagina .contenedor-recuadro div{
    background-color: rgb(41, 41, 41);
    height: 230px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* MEDIA QUERIS*/

/* 
    EXTRA: 1200Ppx - Ordenadores largos
    GRANDE: 992px - Ordenadores normales
    MEDIANO: 768px - Tablets
    PEQUEÑO: 576px - Ladnscape Phones


*/

@media screen and (max-width: 1600px) {

    .contenedor-pagina .pagina .contenedor-recuadro {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media screen and (max-width: 1200px) {

    .contenedor-pagina .pagina .contenedor-recuadro {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 992px) {

    .contenedor-pagina .pagina .contenedor-recuadro {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {

    .navegador .contenedor-buscador {
        justify-content: center;
        width: 50%;
    }


    /* CONTENIDO PAGINA */

    .contenedor-pagina .pagina .contenedor-recuadro {
        grid-template-columns: repeat(2, 1fr);
    }



}

@media screen and (max-width: 576px) {

    /* Botones inferior*/


    .contenedor-botones-inferior {
        position: fixed;
        background-color: var(--colorFondoHeader);
        height: 52px;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contenedor-botones-inferior .botones-inferior {
        margin: 0px 10px;
        width: 96%;
        max-width: 550px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .contenedor-botones-inferior .botones-inferior button {
        display: flex;
        height: auto;
        background: none;
        border: none;
        min-width: 50px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: var(--colorBotonesGeneral);
        font-family: 'Open sans', sans-serif;
        font-size: 10px;
        padding: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        cursor: default;
    
        transition: all 0.15s ease;
    
    }

    .contenedor-botones-inferior .botones-inferior button.active {
        color: white;
        background: none;
    } 

    .contenedor-botones-inferior .botones-inferior button:hover {
        color: white;
        border: none;
        background: none;
    } 
    
    .contenedor-botones-inferior .botones-inferior button i {
        font-size: 18px;
        padding: 0px;
        margin-bottom: 1px;
    }

    .contenedor-botones-inferior .botones-inferior .mas {
        display: flex;
    }

    /* Buscador */

    .navegador .contenedor-buscador {
        display: none;
    }
    
    /* Opciones superior */ 

    .navegador .contenedor-buscador2 {
        display: initial;
    }

    /* CONTENIDO PAGINA */

    .contenedor-pagina .pagina .contenedor-recuadro {
        grid-template-columns: repeat(1, 1fr);
    }
}






/* ENCABEZADO OCULTAR*/

.contenedor-navegador {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    animation: slide-down 0.3s ease;
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}